In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv(r'C:\Users\Admin\Desktop\AI\Machine learning\dataset\homepricesencode.csv')
data

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [3]:
data.replace(to_replace=['monroe township','west windsor','robinsville'],value=["Faysal", "El Helmya","Haram"],inplace=True)

In [4]:
data

         town  area   price
0      Faysal  2600  550000
1      Faysal  3000  565000
2      Faysal  3200  610000
3      Faysal  3600  680000
4      Faysal  4000  725000
5   El Helmya  2600  585000
6   El Helmya  2800  615000
7   El Helmya  3300  650000
8   El Helmya  3600  710000
9       Haram  2600  575000
10      Haram  2900  600000
11      Haram  3100  620000
12      Haram  3600  695000

In [5]:
data.groupby('town').mean()

             area     price
town
El Helmya  3075.0  640000.0
Faysal     3280.0  626000.0
Haram      3050.0  622500.0

In [6]:
data.groupby('town')['price'].mean().sort_values()

town
Haram        622500.0
Faysal       626000.0
El Helmya    640000.0
Name: price, dtype: float64

In [7]:
data.town.value_counts()

town
Faysal       5
El Helmya    4
Haram        4
Name: count, dtype: int64

### Cheapest location : Faysal
### Most expensive : Helmya

## Using pandas to create dummy variables

In [8]:
town_dummy=pd.get_dummies(data.town).astype(int)
town_dummy

    El Helmya  Faysal  Haram
0           0       1      0
1           0       1      0
2           0       1      0
3           0       1      0
4           0       1      0
5           1       0      0
6           1       0      0
7           1       0      0
8           1       0      0
9           0       0      1
10          0       0      1
11          0       0      1
12          0       0      1

In [9]:
merged=pd.concat([data,town_dummy],axis='columns')
merged

         town  area   price  El Helmya  Faysal  Haram
0      Faysal  2600  550000          0       1      0
1      Faysal  3000  565000          0       1      0
2      Faysal  3200  610000          0       1      0
3      Faysal  3600  680000          0       1      0
4      Faysal  4000  725000          0       1      0
5   El Helmya  2600  585000          1       0      0
6   El Helmya  2800  615000          1       0      0
7   El Helmya  3300  650000          1       0      0
8   El Helmya  3600  710000          1       0      0
9       Haram  2600  575000          0       0      1
10      Haram  2900  600000          0       0      1
11      Haram  3100  620000          0       0      1
12      Haram  3600  695000          0       0      1

In [10]:
merged.drop(['town'],axis='columns',inplace=True)

In [11]:
merged

    area   price  El Helmya  Faysal  Haram
0   2600  550000          0       1      0
1   3000  565000          0       1      0
2   3200  610000          0       1      0
3   3600  680000          0       1      0
4   4000  725000          0       1      0
5   2600  585000          1       0      0
6   2800  615000          1       0      0
7   3300  650000          1       0      0
8   3600  710000          1       0      0
9   2600  575000          0       0      1
10  2900  600000          0       0      1
11  3100  620000          0       0      1
12  3600  695000          0       0      1

In [12]:
merged.drop(['Haram'],axis='columns',inplace=True)
merged

    area   price  El Helmya  Faysal
0   2600  550000          0       1
1   3000  565000          0       1
2   3200  610000          0       1
3   3600  680000          0       1
4   4000  725000          0       1
5   2600  585000          1       0
6   2800  615000          1       0
7   3300  650000          1       0
8   3600  710000          1       0
9   2600  575000          0       0
10  2900  600000          0       0
11  3100  620000          0       0
12  3600  695000          0       0

In [13]:
x=merged.drop(['price'],axis='columns')
y=merged.price

In [14]:
x

    area  El Helmya  Faysal
0   2600          0       1
1   3000          0       1
2   3200          0       1
3   3600          0       1
4   4000          0       1
5   2600          1       0
6   2800          1       0
7   3300          1       0
8   3600          1       0
9   2600          0       0
10  2900          0       0
11  3100          0       0
12  3600          0       0

In [15]:
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [16]:
model=LinearRegression()

In [17]:
model.fit(x,y)

LinearRegression()

In [18]:
model.predict([[2600,0,0]])

array([565396.15136531])

In [19]:
merged[0:1]

   area   price  El Helmya  Faysal
0  2600  550000          0       1

In [20]:
model.predict([[3000,0,1]])

array([590468.71640508])

In [21]:
merged[1:2]

   area   price  El Helmya  Faysal
1  3000  565000          0       1

In [23]:
from sklearn.metrics import  mean_absolute_error,mean_absolute_percentage_error
y_pred=model.predict(x)

In [24]:
mean_absolute_error(y,y_pred)

9566.0155797769

In [25]:
mean_absolute_percentage_error(y,y_pred)

0.015588379620338415